.login {
    display: flex;
    width: 1220px;
    margin: 6% auto;
    justify-content: space-between;
    align-items: center;

}
 
.info h1 {
    color: #000;
    font: 400 80px 'Dela Gothic One'
}

.login .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.info div input {
    border-radius: 2px;
    border: 1px solid #ced4da;
    height: 80px;
    width: 650px;
    padding: 0px 12px;
    margin-top: 30px;
    font-size: 20px;
}

.info .btn {
    font: 700 20px 'Montserrat';
    width: 150px;
    padding: 14px 22px;
    text-align: center;
    border-radius: 150px;
    background: var(--primaty-cyan-dark, #2B788B);
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}

.login .loginImg{
    width: 481px;
    height: 320px;
    background: url('./assets/image\ 33.png') no-repeat;  
}