.container {
    display: flex;
    width: 1220px;
    margin: 6% auto;
    align-items: center;

}

.course {
    padding: 40px;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 22.89813px 45.79626px -11.44906px rgba(52, 41, 39, 0.08);
}

.flex {
    display: flex;
    justify-content: space-between;

}

.img {
    background: url('./assets/books.png') no-repeat;
    width: 239px;
    height: 150px;
    margin: auto;
}

.informationCourse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 253px;


}

.informationCourse h2 {
    color: var(--primaty-black, #000);
    text-align: center;
    font: 400 32px Dela Gothic One;
    font-style: normal;
    line-height: 100%;
    letter-spacing: -1.28px;

}

.informationCourse p {
    color: var(--primaty-grey-dark, #757575);
    font: 600 16px Montserrat;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.64px;
}


.signUp .btn {
    display: flex;
    justify-content: center;
}

.btn {
    text-align: center;
    padding: 14px 22px;
    align-items: center;
    gap: 19px;
    border-radius: 100px;
    background: var(--primaty-cyan-light, #C3DCE3);
    font: 700 16px Montserrat;
    color: rgba(43, 120, 139, 1);
    width: 200px;
}

.lessons {
    padding: 40px;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 22.89813px 45.79626px -11.44906px rgba(52, 41, 39, 0.08);
    height: 323px;
    margin-left: 15px;
}

.text {
    display: flex;
    align-items: center;
}

.informationLesson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    max-width: 253px;

}

.informationLesson h3 {
    color: var(--primaty-black, #000);
    text-align: center;
    font: 400 32px Dela Gothic One;
    font-style: normal;
    line-height: 100%;
    letter-spacing: -1.28px;
  margin-bottom: 16px;
}

.informationLesson p {
    color: var(--primaty-black, #000);
    font: 600 17px Montserrat;
    font-style: normal;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 140%;
    letter-spacing: -0.64px;

}



