@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Raleway:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@500;700&family=Montserrat:wght@300;600&family=Raleway:wght@100;500&display=swap');


.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
    margin: 6% auto;
}

.wrapper .btns {
    display: flex;
    align-items: center;
    gap: 24px;
}

.wrapper .btns .info {
    font: 700 20px Montserrat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

}

.wrapper .btns .info p {
    color: #2B788B;
    font: 700 20px Montserrat;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 2.24px;
    text-transform: uppercase;
}

.wrapper .btns .info h1 {
    width: 500px;
    color: black;
    font: 400 56px Dela Gothic One;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -2.24px;

}

.wrapper .btns .info p {
    color: #757575;
    font: 600 18px Montserrat;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.72px;

}

.wrapper .btns .info .btnAbout {
    display: flex;
    padding: 14px 22px;
    justify-content: center;
    align-items: center;
    gap: 19px;
    border-radius: 100px;
    background: #C3DCE3;
}

.wrapper .btns .info .statistics {
    color: #000;
    font: 400 40px Dela Gothic One;
    font-style: normal;
    line-height: 100%;
    letter-spacing: -0.8px;
}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.info .statistics .thunder {
    background: url('./assets/Frame\ 35271.png');
    width: 24px;
    height: 30px;
    display: inline-block;
}

.info .statistics .count {
    display: inline-block;
    margin-right: 5px;
}


.wrapper .btns .info .statistics .students {
    color: #585858;
    font: 600 16px Montserrat;
    font-style: normal;
    line-height: 140%;
    letter-spacing: -0.64px;
}

.wrapper .btns .PreviewImage {
    background: url('./assets/Frame\ 25.png') no-repeat;
    width: 933px;
    height: 601px;

}

.preview {
    color: #757575;
    font: 600 18 Dela Gothic One;
}


.wrapperBCG {
    background-color: white;
}

.language {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1220px;
    padding: 7% 0;

}

.language .information {
    width: 480px;

}

.imgLanguage {
    background: url('./assets/image\ 8.png') no-repeat;
    width: 580px;
    height: 445px;
    background-size: contain;
}

.btnImgs {
    display: flex;
    align-items: center;
}

.information h1 {
    color: #000;
    font: 400 48px Dela Gothic One;
}

.information p {
    color: #757575;
    font: 600 20px Monserrat;
    margin-top: 30px;
}

.language .imgSprint {
    width: 172px;
    height: 145px;
    background: url('./assets/Group\ 11.png') no-repeat;
    background-size: contain;
    margin-top: 80px;
}

.language .imgTasks {
    width: 172px;
    height: 145px;
    background: url('./assets/Group\ 10.png') no-repeat;
    background-size: contain;
    margin-top: 80px;
}

.knowledge {
    width: 1220px;
    margin: 6% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.knowledgeText {
    width: 475px;
    display: flex;
    flex-direction: column;
    line-height: 100%;
    padding-right: 20px;
}

.knowledgeText h1 {

    color: black;
    font: 400 48px 'Dela Gothic One';
    margin-bottom: 30px;
}

.knowledgeText p {
    color: #757573;
    font: 600 20px 'Montserrat';
    margin-bottom: 50px;
}

.knowledgeText .buttonKnowledge {
    width: 150px;
    padding: 14px 0px;
    color: #2B788B;
    font: 700 20px Montserrat;
    text-align: center;
    border-radius: 150px;
    background: #C3DCE3;

}

.knowledgeImg {
    background: url(./assets/image\ 2.png) no-repeat;
    background-size: contain;
    width: 580px;
    height: 473px;
}




.progress {
    width: 1220px;
    margin: 6% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress {
    background-color: white;
}

.watch {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1220px;
    padding: 7% 0;

}


.informationText {
    width: 475px;
    display: flex;
    flex-direction: column;
    line-height: 100%;

}

.informationText h1 {
    color: black;
    font: 400 48px Dela Gothic One;

}

.informationText p {
    color: #757573;
    font: 600 20px Montserrat;
    margin-top: 40px;
}

.informationText .buttonWatch {
    width: 150px;
    padding: 14px 0px;
    color: #2B788B;
    font: 700 20px Montserrat;
    text-align: center;
    border-radius: 150px;
    background: #C3DCE3;
    margin-top: 40px;
    margin-right: 330px;
}

.watch .watchImg {
    background: url(./assets/image\ 1.png) no-repeat;
    background-size: contain;
    width: 680px;
    height: 490px;
}

.watch .informationText {
    display: flex;
    align-items: center;
}

.progress {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 6% 0;
}