.wrapper {
    display: flex;
    width: 1220px;
    margin: 6% auto;
    justify-content: space-between;
    align-items: center;
}

.wrapper h1 {
    color: black;
    font: 400 56px 'Dela Gothic One'
}

.wrapper .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper div input {
    font-size: 20px;
    width: 650px;
    height: 80px;
    padding: 0px 12px;
    border-radius: 2px;
    border: 1px solid #ced4da;
    margin-top: 30px;

}

.wrapper .signUpImg {
    width: 481px;
    height: 320px;
    background: url('./assets/image\ 33.png') no-repeat;
}

.wrapper .btn {
    font: 700 20px 'Montserrat';
    border-radius: 150px;
    background: #2b788b;
    width: 150px;
    padding: 14px 22px;
    color: #fff;
    margin-top: 30px;
    text-align: center;
}