.wrapper h1 {
    font: 400 20px 'Dela Gothic One';
    color: black;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
    margin: auto;
}

.wrapper .btns {
    display: flex;
    align-items: center;
    gap: 24px;
}

.wrapper .btns .loginBtn {
    color: black; 
    font: 700 18px 'Montserrat';
    transition: 0.5s;

    &:hover {
        text-shadow: 0 0 10px rgba(255, 165, 0, 1.2), 0 0 20px rgba(90, 213, 251, 0.9);
    }

}

.wrapper .btns .regBtn a {
    color: white !important;
    font: 700 18px 'Montserrat';
    background: #287888;
    padding: 13px 21px;
    border-radius: 14px;
    font-style: normal;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background: var(--main-blue-478-bf-9, #224a89);

    }
}

.signOut {
    color: white !important;
    font: 700 18px 'Montserrat';
    background: #287888;
    padding: 13px 21px;
    border-radius: 14px;
    font-style: normal;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background: var(--main-blue-478-bf-9, #224a89);

    }
}