.wrapper h1 {
    font: 400 20px 'Dela Gothic One';
    color: black;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
    margin: auto;
}

.wrapper .btns {
    display: flex;
    align-items: center;
    gap: 24px;
}

.wrapper .btns .loginBtn {
    color: black;
    font: 700 18px 'Montserrat';

}

.wrapper .btns .regBtn a {
    color: white !important;
    font: 700 18px 'Montserrat';
    background: #287888;
    padding: 13px 21px;
    border-radius: 14px;
    font-style: normal;
    cursor: pointer;
}

.signOut {
    color: white !important;
    font: 700 18px 'Montserrat';
    background: #287888;
    padding: 13px 21px;
    border-radius: 14px;
    font-style: normal;
    cursor: pointer;
}